<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/basic.css">
</head>

<body>
    <section class="hero is-success is-medium">
        <div class="container">
          <div class="hero-body">
            <p class="title"> Hi.</p>
            <p class= "subtitle">
                Here are some processed data that we created through d3. We were looking to visualize more but
              didn't get around it unfortunately. However, there are really interesting avenues to explore this data
              and present it in a form that is informative to the public. Check out the jupiter notebook for more info on stuff that we were able to look into.
          </p>
      </div>
      </div>
    </section>
    <section>
    <div class="container">
        <div class="columns">
            <div class="column">
                <p class="title">Opioid prescriptions per state</p>
                <div class="prescriptions center"></div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <p class="title"> Incomplete data on types of doctors that prescribe opioids the most</p>
                <div class="pie center"></div>
            </div>
        </div>
    </div>
    </section>

    <script src="js/d3.js"></script>
    <script src="js/pichart.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>

</html>