<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<style>

.opioidovertime div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

</style>

<body>
    <div id="theBar"></div>
    <div class="opioidovertime"></div>
    <script src="js/opioidovertime.js"></script>
</body>

</html>
